* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100vw;
  background-color: #f7fafd;
  display: grid;
  place-content: center;
}

main {
  width: 730px;
  color: #1c202b;
  background-color: #ffffff;
  padding: 16px 32px 32px 32px;
  box-shadow: 0px 20px 60px 0px rgba(73, 97, 168, 0.05);
}
main .header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
main .header .notifications-info {
  display: flex;
  align-items: center;
}
main .header .notifications-info h1 {
  font-size: 24px;
  font-weight: 800;
}
main .header .notifications-info p {
  margin-left: 12px;
  width: 32px;
  height: 25px;
  text-align: center;
  border-radius: 6px;
  color: #ffffff;
  background-color: #0a327b;
}
main .header button {
  border: none;
  background: none;
  color: #5e6778;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.2s;
}
main .header button:hover {
  cursor: pointer;
  color: #0a327b;
}
main .notifications-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  width: 100%;
}
main .new-notification-container {
  background-color: #f7fafd;
}
main .notification-container {
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 8px;
  display: flex;
  width: 100%;
}
main .notification-container .avatar {
  width: 45px;
  height: 45px;
  margin-right: 20px;
}
main .notification-container .private-message-container {
  width: 100%;
}
main .notification-container .private-message-container .private-message {
  border: 1px solid #dde7ee;
  border-radius: 5px;
  padding: 20px;
  margin-top: 10px;
  color: #5e6778;
  transition: all 0.3s;
}
main .notification-container .private-message-container .private-message:hover {
  cursor: pointer;
  background-color: #e5effa;
}
main .notification-container .notification {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
main .notification-container .notification .notification-body {
  width: 100%;
}
main .notification-container .notification .notification-body .notification-text {
  color: #5e6778;
}
main .notification-container .notification .notification-body .profile-name {
  font-size: 16px;
  font-weight: 800;
  transition: all 0.2s;
  color: #1c202b;
}
main .notification-container .notification .notification-body .profile-name:hover {
  color: #0a327b;
  cursor: pointer;
}
main .notification-container .notification .notification-body .notification-action {
  color: #5e6778;
  font-size: 16px;
  font-weight: 500;
}
main .notification-container .notification .notification-body .relevant-link {
  color: #5e6778;
  font-size: 16px;
  font-weight: 800;
  transition: all 0.2s;
}
main .notification-container .notification .notification-body .relevant-link:hover {
  color: #0a327b;
  cursor: pointer;
}
main .notification-container .notification .notification-body .group {
  color: #0a327b;
}
main .notification-container .notification .notification-body .new-notification-icon {
  display: inline-block;
  background-color: #f65552;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-left: 6px;
}
main .notification-container .notification .time {
  color: #939cad;
  font-size: 16px;
  font-weight: 500;
}
main .notification-container .notification .notification-image {
  width: 45px;
  height: 45px;
  border-radius: 7px;
  display: inline-block;
}
main .notification-container .notification .notification-image:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  main {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    margin-right: 16px;
  }
  main .header {
    margin-top: 0;
  }
}
@media (max-width: 555px) {
  main {
    padding: 16px 16px 16px 24px;
  }
  main .header .notifications-info h1 {
    font-size: 20px;
  }
  main .header button {
    font-size: 14px;
  }
  main .notification-container .private-message {
    font-size: 14px;
  }
  main .notification-container .notification .notification-text {
    font-size: 14px;
  }
  main .notification-container .notification .notification-text .profile-name {
    font-size: 14px;
  }
  main .notification-container .notification .notification-text .notification-action {
    font-size: 14px;
  }
  main .notification-container .notification .notification-text .relevant-link {
    font-size: 14px;
  }
  main .notification-container .notification .time {
    font-size: 12px;
  }
}/*# sourceMappingURL=App.css.map */